In [5]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from scripts import project_functions

df = project_functions.load_and_process('../../data/raw/mlb_elo.csv')
df

,date,season,neutral,playoff,home_team,away_team,home_pre,away_pre,home_prob,away_prob,home_post,away_post,home_score,away_score
0,10/27/2020,2020,1,w,LAD,TBD,1607.758,1564.178,0.583,0.417,1610.046,1561.890,3,1
1,10/25/2020,2020,1,w,TBD,LAD,1566.450,1605.486,0.426,0.574,1564.178,1607.758,2,4
2,10/24/2020,2020,1,w,TBD,LAD,1563.862,1608.074,0.416,0.584,1566.450,1605.486,8,7
3,10/23/2020,2020,1,w,TBD,LAD,1567.099,1604.836,0.428,0.572,1563.862,1608.074,2,6
4,10/21/2020,2020,1,w,LAD,TBD,1608.352,1563.583,0.585,0.415,1604.836,1567.099,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220956,1871-05-09,1871,0,s,TRO,ATL,1450.000,1451.483,0.532,0.468,1448.525,1452.958,5,9
220957,1871-05-08,1871,0,s,CHC,CL1,1450.000,1451.943,0.532,0.468,1451.256,1450.687,14,12
220958,1871-05-06,1871,0,s,RC1,CL1,1450.000,1448.754,0.536,0.464,1446.810,1451.943,4,12
220959,1871-05-05,1871,0,s,WS3,ATL,1450.000,1450.000,0.534,0.466,1448.517,1451.483,18,20
220960,1871-05-04,1871,0,s,FW1,CL1,1450.000,1450.000,0.534,0.466,1451.246,1448.754,2,0