In [8]:
import pandas as pd

In [12]:
pd.read_csv('../../data/raw/mlb_elo.csv', delimiter=',')

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
0,10/27/2020,2020,1,w,LAD,TBD,1607.757915,1564.177984,0.582851,0.417149,...,54.055790,54.534448,7.995742,6.040024,0.594547,0.405453,1612.374351,1561.153482,3,1
1,10/25/2020,2020,1,w,TBD,LAD,1566.449752,1605.486147,0.425652,0.574348,...,52.966933,57.214954,-1.826734,23.114096,0.368716,0.631284,1562.804875,1610.722958,2,4
2,10/24/2020,2020,1,w,TBD,LAD,1563.862158,1608.073741,0.415971,0.584029,...,52.636552,50.974099,-3.959517,-6.204884,0.411161,0.588839,1564.204361,1609.323472,8,7
3,10/23/2020,2020,1,w,TBD,LAD,1567.099442,1604.836456,0.428091,0.571909,...,57.971157,55.937980,20.546588,18.098422,0.420376,0.579624,1562.243577,1611.284256,2,6
4,10/21/2020,2020,1,w,LAD,TBD,1608.352409,1563.583490,0.585068,0.414932,...,54.975487,54.421564,13.013222,4.009710,0.611092,0.388908,1608.914363,1564.613470,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220956,1871-05-09,1871,0,NaN,TRO,ATL,1450.000000,1451.483000,0.532359,0.467641,...,NaN,NaN,NaN,NaN,0.522460,0.477540,1448.525000,1452.958000,5,9
220957,1871-05-08,1871,0,NaN,CHC,CL1,1450.000000,1451.943000,0.531700,0.468300,...,NaN,NaN,NaN,NaN,0.528402,0.471598,1451.256000,1450.687000,14,12
220958,1871-05-06,1871,0,NaN,RC1,CL1,1450.000000,1448.754000,0.536268,0.463732,...,NaN,NaN,NaN,NaN,0.532974,0.467026,1446.810000,1451.943000,4,12
220959,1871-05-05,1871,0,NaN,WS3,ATL,1450.000000,1450.000000,0.534484,0.465516,...,NaN,NaN,NaN,NaN,0.534484,0.465516,1448.517000,1451.483000,18,20
220960,1871-05-04,1871,0,NaN,FW1,CL1,1450.000000,1450.000000,0.534484,0.465516,...,NaN,NaN,NaN,NaN,0.534484,0.465516,1451.246000,1448.754000,2,0